.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: .7em;
}

body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


input, textarea{
	border:1px solid #888888;
	-webkit-border-radius: 3px; 
	-khtml-border-radius: 3px;  
	-moz-border-radius: 3px; 
	border-radius: 3px;
	padding:5px;
}

textarea{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


table.list tbody tr:hover
{
	background-color: #eeeeee;
	cursor: pointer;
}

div#form{
	border:3px solid #EEEEEE;
	padding:10px;
}


.selected
{
	background-color: #ffdddd;
}

.progress-body
{
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px;  
	-moz-border-radius: 5px; 
	border-radius: 5px;
	border:1px solid #333333;
	height:15px;
	width:150px;
	margin:3px;
	position:relative;
}

.progress-bar
{
	background: #444; /* for non-css3 browsers */

	width:43%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
}

.progress-text
{
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	text-align:center;
	font-size:.7em;
	width:100%;
	vertical-align: middle;
}


